<div class="jumbotron">
    <div class="btn-group">
        <button class="btn btn-default" ng-click="getAll()">
            <i class="glyphicon glyphicon-refresh"></i>
        </button>
        <button class="btn btn-success" ng-click="new()">New</button>
        <div>{{teams.length}} Teams</div>
<!--
        <button class="btn btn-warning" ng-click="query()">query</button>
        <button class="btn btn-danger" ng-click="remove()">remove</button>
        <button class="btn btn-danger" ng-click="delete()">delete</button>
-->
    </div>
</div>

<div class="well">
<!--    {{cleanCopy | json}}-->
    <table class=table>
        <thead>
            <tr>
                <th></th>
                <th>City</th>
                <th>Name</th>
                <th>Abbr</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-if="teams.length > 0">
            <tr ng-repeat="team in teams | orderBy:'abbr'" ng-class="{ 'success' : team.$$editMode }">
                <td>
                    <button class="btn btn-link btn-xs"
                            ng-click="delete(team)"
                            ng-show="!team.$$editMode">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                    
                    <button class="btn btn-link btn-xs"
                            ng-show="!team.$$editMode"
                            ng-click="startEdit(team)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    
                    <button class="btn btn-success btn-xs"
                            ng-show="team.$$editMode"
                            ng-click="saveEdit(team)">
                        Save
                    </button>
                    
                    <button class="btn btn-link btn-xs"
                            ng-show="team.$$editMode"
                            ng-click="cancelEdit(team)">
                        Cancel
                    </button>
                    
                </td>
                
                <td>
                    <span ng-if="!team.$$editMode">{{team.city}}</span>
                    <span ng-if="team.$$editMode">
                        <input class="form-control" ng-model="team.city" />
                    </span>
                </td>
                
                <td>
                    <span ng-if="!team.$$editMode">{{team.name}}</span>
                    <span ng-if="team.$$editMode">
                        <input class="form-control" ng-model="team.name" />
                    </span>
                </td>
                
                <td>
                    <span ng-if="!team.$$editMode">{{team.abbr}}</span>
                    <span ng-if="team.$$editMode">
                        <input class="form-control" ng-model="team.abbr" />
                    </span>
                </td>
                <td>
                    <img ng-src="http://i.nflcdn.com/static/site/5.33/img/logos/teams-matte-80x53/{{team.abbr}}.png" 
                         ng-if="team.abbr && team.abbr.length >= 2"/>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="teams.length == 0">
            <tr>
                <td colspan="4">
                    No records.
                </td>
            </tr>
        </tbody>
        
    </div>
    